html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: solid 1px red; */
}

body {
  color: var(--dark);
  background-color: var(--off-white);
  font-size: var(--font-size-md);
  font-weight: 200;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
  text-transform: uppercase;
}

p {
  font-size: var(--font-size-md);
  font-weight: 200;
}

p,
article,
section {
  line-height: 1.5;
}

:focus {
  outline: 0.15rem dashed var(--off-white);
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

img {
  max-width: 100%;
}
